{% load static %}
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'db_host/css/main_page.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Logging</title>
</head>
<body>
<div class="sidenav">
         <div class="login-main-text">
            <h2>Welcome to database<br>
                host manager</h2>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form action="searching" method="POST">
                   {% csrf_token %}
                   <div class="form-group">
                     <label>Введите паспортные данные</label>
                     <input type="text" value="{{passport}}" id="passport" name="passport" class="form-control" placeholder="Серия и номер паспорта">
                  </div>
                   <div class="form-group">
                     <label>Введите паспортные данные</label>
                     <input type="text" value="{{job_title}}" id="job_title" name="job_title" class="form-control" placeholder="Занимаемая должность: 'Engineering Manager'">
                  </div>
                  <button type="submit" class="btn btn-secondary">Поиск</button>
                   {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <br {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</br>
                {% endfor %}
            </ul>
                {% endif %}
                {% if data %}
                          <div>
                          <div id="positionTable">
                          <h2 id="table_header">Найденные пользователи</h2>
                            <table>
                                <tr><th>ID</th><th>PASSPORT</th><th>POSITION</th><th>LOGIN_ID</th>
                                    <th>BITRHDAY</th><th>HIRE_DATE</th><th>SALARY_FLAG</th><th>TimeOff</th></tr>
                                {% for user in data %}
                                    <tr><td>{{ user.ID }}</td><td>{{ user.PASSPORT }}</td><td>{{ user.POSITION }}</td>
                                    <td>{{ user.LOGIN_ID }}</td><td>{{ user.BITRHDAY }}</td><td>{{ user.HIRE_DATE }}</td>
                                    <td>{{ user.SALARY_FLAG }}</td><td>{{ user.TimeOff }}</td></tr>
                                {% endfor %}
                            </table>
                           </div>
                          {% endif %}
                          </div>
               </form>
            </div>
         </div>
      </div>

</body>
</html>